/* General Styles */
html {
  font-size: 18px;
  font-family: Helvetica, sans-serif;
  background-color: white;
}

body {
  line-height: 1.4;
  margin: 0 auto;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}


/* Header */
header {
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/tortoiseshell-optics/resources/images/glasses-bg.png);
  height: 30rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 1rem;
}

nav {
  background-color: cadetblue;
  font-family: Helvetica;
  font-size: 1rem;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 1rem 0;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  margin-left: 2rem;
}

.logo img {
  height: 1.5rem;
  margin-right: 1rem;
}

.menu {
  display: flex;
  align-items: center;
  margin-right: 2rem;
}

.menu ul li {
  display: inline;
  padding: 0px 1rem;
}

.mobile-menu {
  display: none;
}

.headline-box-wrapper {
  display: flex;
  justify-content: flex-end;
}

.headline-box {
  background-color: white;
  padding: 1.5rem 5rem;
  margin-top: 10rem;
  margin-right: -2rem;
}

.headline-box h1 {
  font-family: Helvetica;
  font-weight: bold;
  font-size: 2rem;
  color: black;
  line-height: 1.2;
}

/* Main */
.supporting {
  display: flex;
  justify-content: center;
}

/* Supporting Section */
.service {
  height: 8rem;
  width: 5rem;
  margin: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.service img {
  width: 5rem;
}

img.paper-icon {
  width: 3.5rem;
}

/* Info Section */
.info {
  width: 35%;
  margin-right: 5%;
  margin-bottom: 5rem;
}

.title {
  background-color: cadetblue;
  max-width: 10rem;
  color: white;
  font-weight: bold;
  font-size: 1rem;
  padding: 0.5rem 1.25rem;
  margin-bottom: 1rem;
}


/* Footer */
footer {
  background-color: azure;
  padding: 4rem;
  display: flex;
  align-items: center;
}

footer img {
  margin-right: 1rem;
  height: 1.5rem;
}


/* Media Queries */

/* Max-width: 1024px */
@media only screen and (max-width: 1024px) {

    .container {
      max-width: 100%;
    }

    header {
      height: 22rem;
      padding: 0;
  }

    .headline-box {
      padding: 0.75rem 4rem;
      margin-top: 5rem;
      margin-right: 2rem;
    }

    .headline-box h1 {
      font-size: 1.33rem;
    }

}

/* Max-width: 700px */
@media only screen and (max-width: 700px) {

    .logo span {
      display: none;
    }

    .menu ul {
      display: none;
    }

    .menu .mobile-menu {
      display: block;
      color: white;
    }
}

/* Max-width: 560px */
@media only screen and (max-width: 560px) {

    header {
      height: 17rem;
      padding: 0;
      background-position: 20%;
  }

    .headline-box {
      margin-top: 9rem;
      margin-right: 0;
      padding: 1rem 0;
      width: 100%;
    }

    .headline-box h1 {
      font-size: 1rem;
      text-align: center;
    }

    .supporting {
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      margin-top: 3rem;
    }

    .service {
      height: auto;
      font-size: 0.77rem;
      margin: 0.77rem;
    }

    .service img {
      margin-bottom: 1rem;
    }

    .title {
      max-width: 100%;
      text-align: center;
    }

    .info {
      width: auto;
      margin-right: 0;
      margin-bottom: 4rem;
    }

    .info p {
      padding: 1rem;
      font-size: 0.77rem;
    }

    footer {
      justify-content: center;
    }

    footer span {
      display: none;
    }

  }
